body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    text-align: center;
    color: #7e7474;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}

h3 {
  padding-left: 5%;
  font-weight: normal;
  display: inline-flex;
}

h4 {
  padding-left: 5%;
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    display: inline-flex;
    align-content: flex-end;
    padding: 10px;
}

#git {
  width: 25px;
}

#me {
  display: inline;
}

a {
  text-decoration: none;
  color: #7e7474;
}

a:hover {
  text-decoration: underline;
  color: #39311d;
}

.intro {
  background: url(images/banner.png) brown;
  height: 250px;
  padding: 150px 150px;
  color: #f4f4f2;
  padding-left: 5%;
  margin-top: 65px;
  background-size: cover;
  text-align: left;
  text-shadow: 2px 2px #8f384d;
  display: none;
}

.icons {
  display: inline-block;
  opacity: 0.7;
}

hr {
  border-style: none;
  border-top-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  margin: 30px;
  clear: both;
}

.front {
  text-align: right;
  margin-right: 20%;
}

.back {
    text-align: left;
    margin-left: 20%;
}

footer {
  background-color: #0a043c;
}

.copyright {
  color: white;
}

nav {
  margin-right: 7%;
}
